@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Lato&family=Poppins&amp;&family=Playfair+Display:ital@1&family=Righteous&display=swap");

:root {
  --primary-color: #56a4ec;
  --primary-color-dark: #3d87db;
  --text-color-light: #edf5e1;
  --text-color-dark: #333333;
  --secondary-color: #05386b;
  --secondary-color-dark: #181984;
  --secondary-color-light: #1962a1;
  --complementary-color: #ec9f56;
}
/* General Styles */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: normal 16px "Poppins", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color-dark);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: var(--text-color-light);
}

h3 {
  font: normal 48px "Righteous";
}

a:hover {
  opacity: 1;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px;
  font: bold 16px "Poppins";
  text-align: center;
  background-color: transparent;
  color: var(--text-color-dark);
  border: 2px solid var(--text-color-dark);
  opacity: 1;
}

.btn:hover {
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  transition: all 0.2s ease-in;
}

button {
  border-style: none;
}

p.dark {
  color: var(--text-color-dark);
}

section {
  padding: 40px 0;
}

@media (max-width: 768px) {
  section {
    padding: 24px 0;
  }
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

div.smaller-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 752px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section:not(.modal-bg):nth-child(even) {
  background-color: #f5f5f5;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Nav */
.nav-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 64px;
  background-color: var(--secondary-color);
  font-size: 16px;

  a {
    z-index: 100;
  }
}

@media (max-width: 768px) {
  .nav-container {
    padding: 16px 32px;
  }
}

.nav-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  text-transform: uppercase;
  font-weight: bold;

  li {
    margin: 0 16px 0 16px;
  }
}

@media (max-width: 768px) {
  .nav-primary {
    display: block;
    li {
      margin: 0 8px;
    }
  }
}

/* Responsive Menu */

.hamburger {
  display: none;
  z-index: 100;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    .bar1,
    .bar2,
    .bar3 {
      pointer-events: none;
      width: 35px;
      height: 5px;
      background-color: #eeeeee;
      margin: 6px 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }

  header nav.change.header-nav {
    display: block;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    z-index: 30;
    overflow: hidden;
    background-color: var(--secondary-color);
  }
  header nav.change.header-nav ul.change {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 264px;

    li {
      padding: 20px 0;
    }
  }
}

.change.hamburger .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change.hamburger .bar2 {
  opacity: 0;
}

.change.hamburger .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Hero */

.hero {
  font: normal 20px "Poppins";
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  padding-top: 128px;
  padding-bottom: 128px;

  .hero-container {
    padding-top: 90px;
    h1 {
      font: bolder 80px "Righteous";
    }

    h2 {
      font: bolder 55px "Righteous";
      color: var(--text-color-light);
      line-height: 1.2;
      padding-bottom: 16px;
    }
    p {
      max-width: 500px;
    }

    .introduction {
      .cta-button {
        margin-top: 20px;
      }
    }
  }

  .nav-socials {
    font-size: 32px;
    padding-top: 8px;
    a {
      color: var(--text-color-light);
      opacity: 1;
      margin-right: 16px;
    }

    a:hover {
      color: var(--text-color-dark);
      transition: color 0.2s ease-in;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    font-size: 16px;
    padding-top: 64px;
    padding-bottom: 64px;

    .hero-container {
      h1 {
        font-size: 64px;
      }

      h2 {
        font-size: 32px;
      }
    }
  }
}

/* Projects */

.projects-content {
  h3 {
    font: normal 48px "Righteous";
  }
}
@media (max-width: 768px) {
  .projects-content {
    h3 {
      font: normal 32px "Righteous";
    }
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  padding-top: 32px;
}
.project-container {
  padding: 16px;
  width: 33%;
  height: 320px;

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 16px;
    overflow: hidden;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(5, 56, 107, 0);
      border-radius: 16px;
      transition: all 0.2s ease-in-out;
      opacity: 0;

      .project-btn {
        cursor: pointer;
        opacity: 1;
        padding: 8px 16px;
        font: normal 16px "Poppins";
        background-color: var(--text-color-light);
        border-radius: 24px;
        color: var(--text-color-dark);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
          opacity: 0.9;
        }
      }
    }

    &:hover {
      .overlay {
        background-color: rgb(5, 56, 107, 0.6);
        border-radius: 16px;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1364px) {
  .project-container {
    width: 50%;
  }

  .projects-content {
    padding: 64px 32px;
  }
}
@media (max-width: 768px) {
  .project-container {
    width: 100%;
    height: 440px;
  }
}
hr.custom-divider {
  width: 192px;
  margin: 16px 48px;
  background-color: var(--secondary-color-light);
  height: 5px;
  border: none;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;

  img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/* About Me */

.about-me {
  background-color: var(--primary-color-dark);
  color: var(--text-color-light);

  .flex-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    justify-content: space-between;
  }

  div.about-text {
    margin: 20px 0;
    max-width: 55%;
  }

  hr {
    background-color: var(--text-color-light);
  }
}

@media (max-width: 768px) {
  .about-me {
    .flex-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;

      div.about-text {
        max-width: 90%;
        margin: 24px auto;
      }
    }
  }
}

@media (max-width: 576px) {
  .about-me {
    div.about-text {
      max-width: 100%;
    }
  }
}

.about-me div.about-text p {
  font-size: 20px;
  margin: 24px 0;
}

@media (max-width: 992px) {
  .about-me div.about-text p {
    font-size: 16px;
  }
}

.about-me div.about-text div.skills-icons {
  margin-top: 24px;
}

.about-me div.about-text div.skills-icons i {
  font-size: 40px;
  position: relative;
  padding: 4px;
}

@media (max-width: 992px) {
  .about-me div.about-text div.skills-icons i {
    font-size: 35px;
  }
}

.about-me div.about-text div.skills-icons i:hover p {
  -webkit-animation: fadeInTooltip 400ms;
  animation: fadeInTooltip 400ms;
  display: block;
}

.about-me div.about-text div.skills-icons i p {
  z-index: 1;
  pointer-events: auto;
  display: none;
  position: absolute;
  text-align: center;
  top: 90%;
  padding: 8px 16px;
  border-radius: 5px;
  margin: 0 auto;
  border-top: 10px transparent solid;
  border-bottom: 10px transparent solid;
  color: #eeeeee;
  font-family: Poppins, sans-serif;
  background-color: #333;
  font-weight: bold;
}

@-webkit-keyframes fadeInTooltip {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    top: 90%;
    opacity: 1;
  }
}

@keyframes fadeInTooltip {
  from {
    top: 130%;
    opacity: 0;
  }
  to {
    top: 90%;
    opacity: 1;
  }
}

.about-me div.profile-pic-container {
  margin: 20px 0;
  text-align: center;
  position: relative;
}

.about-me div.profile-pic-container img {
  position: relative;
  border-radius: 50%;
  background-color: var(--text-color-light);
  border: 20px solid var(--text-color-light);
  width: 400px;
}

@media (max-width: 992px) {
  .about-me div.profile-pic-container img {
    width: 300px;
  }
}

/* Contact Me */

.contact-me {
  .container {
    text-align: center;
  }

  hr {
    width: 400px;
    margin: 16px auto;
    height: 3px;
    background-color: #333;
  }
}

section.contact-me ul.nav-socials {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px 0;
}

section.contact-me ul.nav-socials li {
  list-style: none;
}

section.contact-me ul.nav-socials li a {
  color: #333;
  font-size: 25px;
  margin: 0 10px;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

section.contact-me ul.nav-socials li a:hover {
  color: var(--text-color-dark);
}

section.contact-me form {
  margin: 20px 0;
  text-align: center;
}

section.contact-me form button {
  background-color: var(--primary-color-dark);
  color: var(--text-color-light);
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: var(--text-color-dark);
  }
}

section.contact-me form label {
  font-size: 13px;
  top: -5px;
  left: 0;
  position: absolute;
  pointer-events: none;
}

section.contact-me form input,
section.contact-me form textarea {
  padding: 8px;
  font-size: 16px;
  margin: 10px 0;
}

section.contact-me form div.form-single {
  position: relative;
  margin: 10px 0;
}

section.contact-me form div.form-single input,
section.contact-me form div.form-single textarea {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1.5px solid #333333;
}

section.contact-me form div.form-single textarea {
  position: relative;
  border: 1.5px solid #333333;
  border-radius: 5px;
  height: 150px;
}

section.contact-me form div.form-single div.text-area label {
  top: -15px;
}

/* Footer */

footer {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  p {
    padding: 16px;
    text-align: center;
  }
}

/* Modal Styles */

.modal-bg {
  display: none;
  &.show {
    display: block;
    position: fixed;
    z-index: 10000;
    -webkit-animation-name: modalFadeIn;
    animation-name: modalFadeIn;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.44);
    overflow: auto;
  }

  &.closing {
    -webkit-animation-name: modalFadeOut;
    animation-name: modalFadeOut;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
  }

  hr {
    height: 3px;
    margin: 16px auto;
  }

  h2 {
    font-size: 55px;
    font: normal 55px "Righteous";
  }

  div.modal-container {
    position: relative;
    background-color: white;
    border-radius: 0.75rem;
    padding: 40px 24px;
    text-align: center;
    max-width: 1140px;
    margin: 1.75rem auto;

    button.close-button {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 50px;
      color: #56a0ec;
      background-color: transparent;
      cursor: pointer;
    }
    img.modal-main-img {
      width: 80%;
      max-width: 600px;
    }
    p.modal-details {
      max-width: 500px;
      margin: 20px auto;
    }
    ul#modalToolsUsed {
      font-size: 40px;
      display: flex;
      max-width: 600px;
      margin: 0 auto;
      justify-content: center;

      li {
        margin-right: 16px;
      }
    }
    a.cta-button {
      margin: 10px;
      color: var(--primary-color);
      border-color: var(--primary-color);
      &:hover {
        background-color: transparent;
        color: var(--secondary-color);
        border-color: var(--secondary-color);
      }
    }
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
